button {
  padding: 1em 2em 1em 2em;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#SignIn, #UploadButton {
  display: inline-block;
  border-radius: 3em;
  width: fit-content;
  font-size: 1em;
  background-color: #212323;
  color: white;
  margin: 1em;
}

#Create {
  display: inline-block;
  border-radius: 3em;
  width: fit-content;
  font-size: 15px;
  background-color: #212323;
  color: white;
  margin: 1em;
}

#SignIn:hover, #UploadButton:hover, #Create:hover {
  background-color: #A7D8D7;
  color: #212323;
}

#ChooseFile {
  display: inline-block;
  background-color: #A7D8D7;
  color: white;
  text-transform: uppercase;
  margin: 0 1em 1em 1.5em;
}

#ChooseFile:hover {
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: #A7D8D7;
}