button {
  padding: 1em 2em 1em 2em;
  text-decoration: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#SignIn, #UploadButton, #CancelButton {
  display: inline-block;
  border-radius: 3em;
  width: fit-content;
  font-size: 1em;
  background-color: #212323;
  color: white;
  margin: 1em;
}

#Create {
  display: inline-block;
  border-radius: 3em;
  width: fit-content;
  font-size: 15px;
  background-color: #212323;
  color: white;
  margin: 1em;
}

#CancelButton {
  background-color: #cecece;
  color: #212323;
}

#CancelButton:hover {
  background-color: #212323;
  color: #A7D8D7;
}

#SignIn:hover, #UploadButton:hover, #Create:hover {
  background-color: #A7D8D7;
  color: #212323;
}

#searchbarButton {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-size: cover;
  background-image: url('./searchButton.png');
}

#decline {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #E8E6E6;
  background-image: url('../../static/imagesAnnounces/cancel.png');
}

#accept {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #E8E6E6;
  background-image: url('../../static/imagesAnnounces/checkmark.png');
}

#remove {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #E8E6E6;
  background-image: url('../../static/imagesAnnounces/trash.png');
}

#active {
  width: 2vw;
  height: 2vw;
  background-size: cover;
  background-color: transparent;
  background-image: url('../../static/UserMgt/active.png');
  margin-left: 5vw;
  padding: 0;
}

#notactive {
  width: 2vw;
  height: 2vw;
  background-size: cover;
  background-color: transparent;
  background-image: url('../../static/UserMgt/notactive.png');
  margin-left: 5vw;
  padding: 0;
}

#editAccount {
  width: 1vw;
  height: 1vw;
  background-size: cover;
  background-color: transparent;
  background-image: url('../../static/UserMgt/edit.png');
  margin-left: 4vw;
  padding: 0;
}

#removeAccount {
  width: 2vw;
  height: 2vw;
  background-size: cover;
  background-color: transparent;
  background-image: url('../../static/UserMgt/trash.png');
  margin-left: 5vw;
  padding: 0;
}

#writeAnnounce {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  background-size: contain;
  align-self: flex-end;
  background-image: url('../../static/imagesAnnounces/write.png');
}

#Manage {
  font-size: 1vw;
  background-color: transparent;
  color: black;
  border-bottom: 4px solid #6d9c9c;
}

#ManageClicked {
  font-size: 1vw;
  background-color: transparent;
  color: black;
  border-bottom: 4px solid rgb(255, 255, 255);
}