.vresources {
  background-color: #A7D8D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 3em 0;
  min-width: 100vw;
}
  
#vresources {
  display: flex;
  flex-direction: column;
  width: 850px;
  justify-content: center;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 3em;
  padding: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

.vresources h1{
  align-self: center;
}

.vresources p{
  font-size: 18px;
  text-align: justify;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
}

.containerB{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: white;
}

.containerB h1{
  display: inline-block;
  font-size: 55px;
  font-weight: 100;
}

.containerB p{
  font-weight: 400;
}

.containerB .buttons{
  background-color: #212322;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-content: center;
  display: inline-grid;
}

.buttons img{
  height: 35px;
}

.buttons img:hover{
  height: 38px;
}

hr{
  width: inherit;
  margin: 0;
}

.docSpace{
  overflow-y: scroll;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0 50;
}

.docSpace img{
  align-content: center;
}

#previewRb{
  justify-content: center;
}

#previewRb:-webkit-full-screen{
  overflow-y: scroll;
}

#previewRb:-webkit-full-screen .docSpace{
  overflow-y: hidden;
  height: 800px;
  min-width: 450px;
  justify-content: center;
  background-color: white;
  padding: 40px 0;
}

#previewRb:-webkit-full-screen .containerB{
  display: flex;
  padding: 0 40px;
  background-color: #212323;
}


#previewRb:-webkit-full-screen .containerB h1{
  color: white;
}

#previewRb:-webkit-full-screen .containerB p{
  color: white;
}


@media (min-width: 300px) {
  #vresources {
    padding: 1em;
  }  
}

@media (min-width: 500px) {
  #vresources {
    padding: 2.5em;
  }
}

@media (max-width: 900px){
  #previewRb:-webkit-full-screen{
    padding: 2.5em;
  }
  #previewRb:-webkit-full-screen .docSpace img{
    padding: 0.5em;
  }
}
