.vresources {
  background-color: #A7D8D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 3em 0;
  min-width: 100vw;
}
  
#vresources {
  display: flex;
  flex-direction: column;
  width: 850px;
  justify-content: center;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 3em;
  padding: 15px;
  padding-left: 70px;
  padding-right: 70px;
}

.vresources h1{
  align-self: center;
}

.vresources p{
  font-size: 18px;
  text-align: justify;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
}

.containerB{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #212322;
}

.containerB h1{
  display: inline-block;
  font-size: 55px;
  font-weight: 100;
  color: white;
}

.containerB p{
  font-weight: 400;
  color: white;
}

.containerB .buttons{
  background-color: #212322;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-content: center;
  display: inline-grid;
  color: transparent;
}

.buttons img{
  height: 35px;
}

.buttons img:hover{
  height: 38px;
}

/*cambio de imagen del botón de expandir*/
#previewRb:-webkit-full-screen .expand:hover{
  background: #212322 url(../../static/imagesViewResources/reduce.png) center no-repeat;
  background-size: 38px;
}

#previewRb:-webkit-full-screen .expand{
  background: #212322 url(../../static/imagesViewResources/reduce.png) center no-repeat;
  background-size: 35px;
}

.expand {
  background: #212322 url(../../static/imagesViewResources/enlarge.png) center no-repeat;
  background-size: 35px;
}

.expand:hover {
  background: #212322 url(../../static/imagesViewResources/enlarge.png) center no-repeat;
  background-size: 38px;
}

hr{
  width: inherit;
  margin: 10px;
}

.docSpace{
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px 50px;
  scroll-snap-type: x mandatory
}

TransformComponent{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.docSpace img{
  scroll-behavior: smooth;
  scrollbar-face-color: #A7D8D7;
  align-content: center;
  overflow: revert;
  width: 715px;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #A7D8D7; 
}

#previewRb{
  justify-content: center;
}

#previewRb:-webkit-full-screen .docSpace{
  overflow-y: scroll;
  height: 800px;
  min-width: 450px;
  justify-content: center;
  background-color: white;
  padding: 40px 0;
}

#previewRb:-webkit-full-screen .docSpace img{
  max-width: 1000px;
}

#previewRb:-webkit-full-screen .containerB{
  display: flex;
  padding: 20px 40px;
  background-color: #212323;
}

@media (max-width: 500px){
  :-webkit-full-screen .containerB .buttons{
    height: 15px;
  }

  :-webkit-full-screen .containerB {
    padding: 1em;
  }

  :-webkit-full-screen .containerB h1{
    font-size: 25px;
  }
  :-webkit-full-screen .docSpace{
    width: 100px;
  }
}
