.vresources {
  background-color: #A7D8D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 3em 0;
  min-width: 100vw;
}
  
#vresources {
  display: flex;
  flex-direction: column;
  width: 850px;
  justify-content: center;
  background-color: white;
  border-radius: 0.5em;
  margin-top: 3em;
  padding: 15px;
  padding-left: 170px;
  padding-right: 170px;
}

#editResource{
  display: flex;
  flex-direction: column;
  justify-content: right;
  
}

.vresources h1{
  align-self: center;
}

.vresources p{
  font-size: 18px;
  text-align: justify;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 25px;
}

.headers{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.headers h1{
  align-self: center;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}

.editp{
  align-content: flex-start;
  align-items: flex-start;
}

.makeStyles-modal-1 {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  max-width: 400px;
  margin: 250 auto;
  align-self: center;
}

.MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin-top: 10px;
  background-color: #A7D8D7;
  padding: 7px;
  border-radius: 3px;
}

#edit element.style {
  background-color: rgb(0 0 0 / 86%);
}

.closeButton{
  background-color: #c4c9c9;
  color: #2c2e2d;
  display: inline-block;
  padding: 8px;
  margin: 15px;
  width: 55px;
}

.closeButton:hover{
  background-color: #b4dfde;
  border-radius: 10px #2c2e2d;
}

.saveButton{
  background-color: #A7D8D7;
  color: #2c2e2d;
  display: inline-block;
  padding: 8px;
  margin: 15px;
  width: 55px;
}

.saveButton:hover{
  background-color: #b4dfde;
}

.headers p{
  width: 800px;
}

.swal-button {
  background-color: #A7D8D7;
} 

.swal-button:not([disabled]):hover {
  background-color: #bfe7e7;
}

.swal-button--cancel:not([disabled]):hover {
  background-color: #e8e8e8;
}

.swal-button--cancel:not([disabled]) {
  background-color: #dfdede;
}
/*Boton para editar */
.buttonEdit{
  align-items: center;
  color: white;
  background: white url(../../static/imagesViewResources/editpre.png) center no-repeat;
  background-size: 20px;
}

.buttonEdit:hover{
  background: white url(../../static/imagesViewResources/edit.png) center no-repeat;
  background-size: 20px;
}
/*termina parte del boton para editar */

/*Boton para eliminar*/
.buttonDelete{
  height: 40px;
  width: 30px;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  background: white url(../../static/imagesViewResources/delete.png) center no-repeat;
  background-size: 30px;
}

.buttonDelete:hover{
  background: white url(../../static/imagesViewResources/delete2.png) center no-repeat;
  background-size: 37px;
}
/*Termina parte dle boton para borrar*/

.containerB{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #212322;
}

.containerB h1{
  display: inline-block;
  font-size: 55px;
  font-weight: 100;
  color: white;
}

.containerB p{
  font-weight: 400;
  color: white;
}

.containerB .buttons{
  background-color: #212322;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-content: center;
  display: inline-grid;
  color: transparent;
}

.buttons img{
  height: 35px;
}

.buttons img:hover{
  height: 38px;
}

.containerB .buttonsDisable{
  background-color: #212322;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-content: center;
  display: inline-grid;
  color: transparent;
}

.buttonsDisable img{
  height: 35px;
}

/*cambio de imagen del botón de expandir*/
#previewRb:-webkit-full-screen .expand:hover{
  background: #212322 url(../../static/imagesViewResources/reduce.png) center no-repeat;
  background-size: 38px;
}

#previewRb:-webkit-full-screen .expand{
  background: #212322 url(../../static/imagesViewResources/reduce.png) center no-repeat;
  background-size: 35px;
}

.expand {
  background: #212322 url(../../static/imagesViewResources/enlarge.png) center no-repeat;
  background-size: 35px;
}

.expand:hover {
  background: #212322 url(../../static/imagesViewResources/enlarge.png) center no-repeat;
  background-size: 38px;
}
/*termina el cambio de imagen del botón de expandir*/

hr{
  width: inherit;
  margin: 10px;
}

.docSpace{
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px 50px;
  scroll-snap-type: x mandatory
}

TransformComponent{
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.docSpace img{
  scroll-behavior: smooth;
  scrollbar-face-color: #A7D8D7;
  align-content: center;
  overflow: revert;
  width: 715px;
}

#previewRb{
  justify-content: center;
}

#previewRb:-webkit-full-screen {
  background-color: white;
  margin-bottom: 20px;
}

#previewRb:-webkit-full-screen .docSpace{
  min-width: 450px;
  justify-content: center;
  background-color: white;
  padding: 40px 0;
  min-height: 650px; 
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory
}

#previewRb:-webkit-full-screen .docSpace img{
  max-width: 1000px;
  scroll-behavior: smooth;
  scrollbar-face-color: #A7D8D7;
  align-content: center;
  overflow: revert;
}

#previewRb:-webkit-full-screen .containerB{
  display: flex;
  padding: 20px 40px;
  background-color: #212323;
}

@media (max-width: 500px){
  :-webkit-full-screen .containerB .buttons{
    height: 15px;
  }

  :-webkit-full-screen .containerB {
    padding: 1em;
  }

  :-webkit-full-screen .containerB h1{
    font-size: 25px;
  }
  :-webkit-full-screen .docSpace{
    width: 100px;
  }
}
