#Navbar {
  display: flex;
  padding: 3em 0 3em 0;
  width: 100%;
  justify-content: space-between;
  background-color: #212323;
  flex-direction: column;
}

#Navbar img {
  cursor: pointer;
}

#Navbar .icons {
  display: flex;
  align-items: center;
}

#Navbar .icons > img:last-child {
  padding-right: 4em;
  width: 40px;
  height: 40px;
}

#Navbar .icons > img {
  width: 50px;
  height: 50px;
  padding: 0 1em 0 1em;
}

#Navbar .logo {
  height: 70px;
  width: 200px;
  padding: 0 1em 0 5em;
}

@media (min-width: 800px) {
  #Navbar {
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  #Navbar .logo {
    padding: 0;
    margin: 0 auto;
  }

  #Navbar .icons {
    justify-content: center;
  }

  #Navbar .icons > img {
    width: 24px;
    height: 24px;
  }

  #Navbar .icons > img:last-child {
    width: 20px;
    height: 20px;
    padding-right: 1em;
  }
}