input {
  max-width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 0.5em;
  box-sizing: border-box;
  padding: 1em 2em 1em 2em;
  font-size: 2vh;
  margin: 1em;
}

.InputLogin {
  color: black;
}

.InputCreate {
  color: black;
  width: 100%;
  margin: 1em 0;

}

@media (min-width: 800px) {
  input {
    font-size: 2.5vh;
  }
}