input {
  max-width: 100%;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 0.5em;
  box-sizing: border-box;
  padding: 1em 2em 1em 2em;
  font-size: 0.8em;
  margin: 1em;
}

.InputLogin {
  color: black;
}

.InputCreate {
  color: black;
  width: 100%;
  margin: 1em 0;

}

.InputFile {
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  input {
    font-size: 1em;
  }
}

@media (min-width: 1100px) {
  input {
    font-size: 1.2em;
  }
}