.forgotPass {
  background-color: #A7D8D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 3em 0;
  height: 100%
  }
    
  #forgotPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 0.5em;
    margin: 3em 50px;
    padding: 15px 6px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .forgotPass h1{
    font-size: 48px;
    font-weight: bold;
    padding: 0 15px;
  }

  .forgotPass p{
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding: 0 15px;
  }
  
  .buttonsFp{
    display: flex;
    justify-content: flex-end;
  }

  .inputForget{
    display: flex;
    flex-direction: column;
  }

  .inputForget p{
    margin: 15 0 -5;
  }

  @media (max-width: 350px) {
    .forgotPass {
      padding: 1em 2em 1em 2em;
    }
  }