.forgotPass {
    background-color: #A7D8D7;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 3em 0;
    min-width: 100vw;
  }
    
  #forgotPass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 0.5em;
    margin: 3em 50px;
    padding: 15px 6px;
    padding-left: 50px;
    padding-right: 50px;
  }